@media screen and (max-width:1000px){
    nav{
        display: block;
    }
    .menu, .login, .register{
        display: none;
    }
    .main{
        flex-direction: column;
        margin: auto;
        height: auto;
    }
    .main img{
        width: 80%;
        margin: auto;
    }
    .aboutUs{
        flex-direction: column;
        margin: auto;
        background-repeat: repeat;
    }
    .members{
        flex-direction: column;
    }
    .m{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .m1{
        align-items: center;
        justify-content: center;
    }
}